@font-face {
    font-family: 'get schwifty';
    src: url('../fonts/get_schwifty.woff2') format('woff2'),
         url('../fonts/get_schwifty.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #3b92a5;
}

div img {
  display: block;
  margin: auto;
  width: 50%
}

/* The main container which includes the doors */
div#root {
margin: 0 auto;
 padding: 3em 10px;
 width: 70%;
 background: #aafad7;
}

.parallax {
  opacity: 0.85;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	height: 320px;
	padding: 0;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

 .dooritem {
   background: #c8c8c8;
   margin-top: 4px;
   padding-bottom: 2px;
 }

 .opacity {
   opacity: 0.8;
   height: 5px;
 }

 .footer-height {
   margin: 10px auto;
  margin-top: 2px;
}
