@charset "UTF-8";
/* Style für alle Ansichten bis auf die Error-Ansicht */
/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #3b92a5; }

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 0; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s; }

.fade-enter-active {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }

.fade-enter, .fade-leave-active {
  opacity: 0; }

#logo {
  padding-left: 2%;
  padding-top: 0.5%;
  font-family: "get schwifty";
  color: #24E6E5;
  font-size: 350%;
  text-shadow: 3px 0px #5BB44F, -3px 0px #5BB44F, 0 5px 10px black; }

.parallax {
  z-index: -1;
  opacity: 0.8;
  background-image: url("../img/bg.jpg");
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  height: 320px;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

.navbarSmallMenu {
  background-color: #26c6da;
  margin-top: -3%; }
  @media screen and (min-width: 492px) {
    .navbarSmallMenu {
      class: hide-on-med-and-down;
      margin-top: 0; } }

#navCartIcon {
  z-index: -1; }

#navCartCount {
  position: fixed;
  right: 6%;
  top: 6.5%;
  color: #3b92a5;
  font-weight: bold; }
  @media screen and (min-width: 492px) {
    #navCartCount {
      right: 1.8%;
      top: -2%;
      font-weight: bold; } }

.shopContainer, .cartContainer, orderContainer {
  width: 100%; }

#root {
  background: #aafad7;
  margin: 0 auto;
  padding: 2.3% 1%;
  width: 90%; }

.footer-copyright {
  margin-left: -11%; }
  .footer-copyright a {
    text-align: right;
    margin-right: -13%; }

/* Importe der unterschiedlichen sass-datein für die einzelnen Ansichten */
/* shop styles */
/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.shopItem {
  background: #3b92a5;
  margin: 2% auto;
  padding-bottom: 2%;
  color: #aafad7; }
  @media screen and (min-width: 1000px) {
    .shopItem {
      margin: 2% -15%; } }
  .shopItem img {
    display: none; }
    @media screen and (min-width: 1000px) {
      .shopItem img {
        display: block;
        margin: -0.5% 3% 0% 2%;
        float: left;
        width: 6%;
        height: 12%; } }

.shopItemBtn {
  background-color: #26c6da; }
  @media screen and (min-width: 1000px) {
    .shopItemBtn {
      margin-top: -6.5%;
      margin-left: 80%; } }

.shopItemName {
  margin-left: 5%;
  margin-right: 2%;
  font-size: 14pt; }
  @media screen and (min-width: 1000px) {
    .shopItemName {
      margin-left: 0;
      float: left;
      width: 45%;
      font-size: 20pt; } }

.shopItemPrice {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 20%;
  float: left;
  width: 30%;
  font-size: 13pt; }
  @media screen and (min-width: 1000px) {
    .shopItemPrice {
      margin-top: 0;
      margin-left: 0;
      width: 21%;
      font-size: 20pt; } }

.shopItemDescrip {
  display: none; }
  @media screen and (min-width: 1000px) {
    .shopItemDescrip {
      display: block;
      margin-top: -2%;
      margin-left: 11%;
      font-size: 13pt; } }

/* shopping cart styles */
/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.cartitem {
  background: #3b92a5;
  color: #aafad7;
  margin: 2% auto; }
  @media screen and (min-width: 1000px) {
    .cartitem {
      margin: 2% -19%;
      padding-bottom: 2%;
      font-size: 18pt; } }
  .cartitem img {
    display: none; }
    @media screen and (min-width: 1000px) {
      .cartitem img {
        display: block;
        margin-top: -1%;
        margin-left: 2%;
        float: left;
        width: 4%;
        font-size: 12pt; } }

.cartItemBtnRemove {
  background-color: #26c6da;
  margin-left: 42%; }
  @media screen and (min-width: 1000px) {
    .cartItemBtnRemove {
      margin-top: 0.5%;
      margin-left: 33%; } }

.cartItemBtnAddSt {
  background-color: #26c6da;
  margin-top: 0.5%;
  margin-left: 2%;
  width: 1%;
  padding-left: 1%; }
  @media screen and (min-width: 1000px) {
    .cartItemBtnAddSt {
      margin-left: -46%; } }

.cartItemBtnRemoveSt {
  background-color: #26c6da;
  margin-top: 0.5%;
  width: 1%;
  padding-left: 1%; }

.cartitemName {
  margin-left: 2%;
  float: left;
  width: 45%; }
  @media screen and (min-width: 1000px) {
    .cartitemName {
      width: 22%; } }

.cartitemTextCount {
  float: left;
  margin-left: -1%; }

.cartitemPrice {
  display: none; }
  @media screen and (min-width: 1000px) {
    .cartitemPrice {
      display: block;
      float: left;
      width: 14%;
      margin-left: 12%; } }

.cartitemTotal {
  float: left;
  margin-left: 2%; }
  @media screen and (min-width: 1000px) {
    .cartitemTotal {
      margin-left: 0%;
      margin-right: 2%;
      width: 20%; } }

.cartFoot {
  margin-left: -17%; }
  .cartFoot a {
    background-color: #26c6da; }

.shoppingBtn {
  margin-left: 15%; }
  @media screen and (min-width: 1000px) {
    .shoppingBtn {
      margin-left: -2%;
      margin-right: 42; } }

.payBtn {
  margin-top: 2%;
  margin-left: 65%; }
  @media screen and (min-width: 1000px) {
    .payBtn {
      margin-top: -6%;
      margin-left: 87%; } }

#cartTotalAll {
  background-color: #3b92a5;
  margin-left: 67%;
  margin-bottom: 2%;
  width: 32.5%;
  padding: 1%;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  color: #aafad7;
  font-size: 13pt; }
  @media screen and (min-width: 1000px) {
    #cartTotalAll {
      font-size: 20pt; } }

#cartBill {
  margin-top: 2%;
  margin-left: 67%; }
  @media screen and (min-width: 1000px) {
    #cartBill {
      margin-top: -11%;
      margin-right: 5%; } }

.cartNoItem {
  color: #3b92a5;
  text-align: center; }

/* bestellhistorie Styles */
/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.orderitem {
  background: #3b92a5;
  margin: 2% 0;
  color: #aafad7; }
  @media screen and (min-width: 1000px) {
    .orderitem {
      margin: 2% -15%;
      padding-bottom: 2%; } }
  .orderitem a {
    background-color: #26c6da;
    margin-top: 0%;
    margin-right: 2%; }

.orderitemDetailBtn {
  background-color: #26c6da;
  margin-left: 12%; }
  @media screen and (min-width: 1000px) {
    .orderitemDetailBtn {
      margin-top: 0%;
      margin-right: 2%;
      margin-left: 0; } }

.orderitemText {
  display: none; }
  @media screen and (min-width: 1000px) {
    .orderitemText {
      display: block;
      margin-left: 5%;
      float: left;
      width: 15%;
      font-size: 20pt; } }

.orderitemDate, .orderitemCounts {
  float: left;
  font-size: 13pt;
  margin-right: 2%;
  margin-left: 2%; }
  @media screen and (min-width: 1000px) {
    .orderitemDate, .orderitemCounts {
      margin-right: 7%;
      margin-left: 0;
      width: 10%;
      font-size: 20pt; } }

.orderitemTotalAll {
  float: left;
  font-size: 13pt; }
  @media screen and (min-width: 1000px) {
    .orderitemTotalAll {
      margin-right: 4%;
      margin-left: 1%;
      width: 20%;
      font-size: 20pt; } }

.orderitemDetail {
  background: #aafad7;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-bottom: 2%;
  color: #3b92a5; }
  @media screen and (min-width: 1000px) {
    .orderitemDetail {
      margin-top: 0;
      font-size: 20pt; } }
  .orderitemDetail img {
    display: none; }
    @media screen and (min-width: 1000px) {
      .orderitemDetail img {
        display: block;
        margin-top: -0.5%;
        margin-right: 3%;
        margin-left: 6%;
        float: left;
        width: 6%; } }

.orderitemDetailName {
  float: left;
  width: 22%;
  margin-left: 2%; }
  @media screen and (min-width: 1000px) {
    .orderitemDetailName {
      margin-left: 0;
      width: 15%; } }

.orderitemDetailSt {
  float: left;
  width: 25%; }
  @media screen and (min-width: 1000px) {
    .orderitemDetailSt {
      display: block;
      margin-right: 2%;
      width: 13%; } }

.orderitemDetailTotal {
  margin-left: 55%; }
  @media screen and (min-width: 1000px) {
    .orderitemDetailTotal {
      margin-top: -4%;
      margin-left: 70%; } }

.orderitemDetailDescrib {
  display: none; }
  @media screen and (min-width: 1000px) {
    .orderitemDetailDescrib {
      display: block;
      margin-top: 2.5%;
      font-size: 12pt; } }

/* Error-Ansicht Styles */
/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.bodyError {
  background-color: black; }

.error {
  background-image: url("../img/error.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
  font-family: "get schwifty";
  color: #24E6E5;
  font-size: 350%;
  padding-top: 20%;
  text-shadow: 3px 0px #5BB44F, -3px 0px #5BB44F, 0 5px 10px black;
  text-align: center; }

/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#loginBtn {
  background-color: #26c6da;
  margin-left: 20%; }
  @media screen and (min-width: 1000px) {
    #loginBtn {
      margin-top: -7%;
      margin-left: 87%; } }

#abort {
  background-color: #26c6da;
  margin-left: 0;
  float: left; }

/* Variablen */
/* Logo-Schrift */
@font-face {
  font-family: "get schwifty";
  src: url("../fonts/get_schwifty.woff2") format("woff2"), url("../fonts/get_schwifty.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
#payText {
  color: #3b92a5;
  padding-left: 1%; }

.payment {
  padding-left: 5%; }

#registBtn {
  background-color: #26c6da;
  margin-left: 20%; }
  @media screen and (min-width: 1000px) {
    #registBtn {
      margin-top: -8%;
      margin-left: 81%; } }

/*# sourceMappingURL=style.css.map */